BASEURL=https://otakudesu.blog

# Mandatory if deploying on Vercel
SCRAPER_API_KEY=

# Required for rate limiting if used without a secret key
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# You can fill this with any random string
ANIMAPLE_SECRET_KEY=your_random_secret_string_here
